<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574591501756-6nl6ejk98mdfdqi2h26mhhq22t5o820h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574591501756-6nl6ejk98mdfdqi2h26mhhq22t5o820h</string>
	<key>API_KEY</key>
	<string>AIzaSyAnfEmhncyeAv_6Uf99Ys-iRRym_MczPoc</string>
	<key>GCM_SENDER_ID</key>
	<string>574591501756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getnimnim.NimNim</string>
	<key>PROJECT_ID</key>
	<string>nimnimapps</string>
	<key>STORAGE_BUCKET</key>
	<string>nimnimapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574591501756:ios:97194a3e7e060891</string>
	<key>DATABASE_URL</key>
	<string>https://nimnimapps.firebaseio.com</string>
</dict>
</plist>